.orderin-bx 
{
    border: 1px solid #DBDBDB;
    padding: 1.375rem 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;   
}

.orderin-bx .icon-bx 
{
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    text-align: center;
    background-color: grey;
    border-radius: 0.5rem;
    margin-left: 0.5rem; 
}
.orderin-bx .icon-bx i 
{
    color: #7E808C; 
}
.orderin-bx:hover 
{
    background-color: rgb(250, 246, 239);
    border-color: orange; 
}
.orderin-bx:hover .icon-bx 
{
    background-color: orange; 
}
.orderin-bx:hover .icon-bx i 
{
    color: orange; 
}
.nav-tabs 
{
  border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-link 
{
    margin-bottom: -1px;
    background: none;
    border: 1px solid transparent;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    color: darkorange; 
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus
{
    border-color: #e9ecef #e9ecef #dee2e6;
    isolation: isolate; 
}
.nav-tabs .nav-link.disabled 
{
    color: #6c757d;
    background-color: transparent;
    border-color: transparent; 
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link 
{
    color: white;
    background-color: orange;
    border-color: #dee2e6 #dee2e6 #FFFFFF; 
}
.orders-img img 
{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-right: 0.5rem; 
}
.order-menu img
{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border: 1px solid orange;
    border-radius: 0.5rem;
    margin-right: 0.5rem;  
}
.item a{
    text-decoration: none;
    color:black;
    
}
.item :hover{
    color: orange;
}
.text{
    color: darkorange;
}

html, body {
    margin: 0;
    height: 100%; 
    /* overflow: hidden; */
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    
}
  
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    border-radius: 20px;
}

.sidebar a.active {
    background-color: orange;
    color: white;
    border-radius: 20px;
}

.sidebar a:hover:not(.active) {
    background-color:lightgray;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 100%;
    overflow: scroll;
}

@media screen and (max-width: 700px) {
.sidebar {
    width: 100%;
    height: auto;
    position: relative;
}
.sidebar a {float: left;}
div.content {margin-left: 0;}
}

@media screen and (max-width: 450px) {
.sidebar a {
    text-align: center;
    float: none;
}
}
.card1{
   justify-content: center;
   padding:10px;
    height:100px;
}
.card-num{
    text-align: right;
}

